html {
  box-sizing: border-box;
}
*, 
*::before, 
*::after {
  box-sizing: inherit;
}
body {
	margin: 0;
	font-family: sans-serif;
}
img {
	max-width: 100%;
	height: auto;
}
.all {
	padding: 50px 150px;
	background-color: #8fffff;
	min-height: 100vh;
}
.box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.left1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/background.jpg);
	background-size: cover;
	background-position: center;
	min-height: 90vh;
	color: white;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.media {
	background-color: rgba(50, 200, 100, 0.5);
	color: white;
	padding: 15px 20px;
	border-radius: 30px;
	width: 150px;
}
.h1 {
	margin: 0;
}
.p {
	margin-top: 10;
}
.img {
	margin-right: 10px;
}
.right {
	width: 60%;
	background-color: #fff;
	padding: 20px 60px;
	min-height: 90vh;
}
.article {
	display: flex;
	justify-content: space-between;
}
.ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	font-size: 25px;
	padding: 0;
	margin: 0;
}
.link {
	text-decoration: none;
	color: #cacaca;
}
.link:hover {
	color: black;
}
.link2 {
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
}
.img-box1 {
	border-radius: 50%;
	width: 50px;
}
.massage1 {
	display: flex;
	align-items: center;
	margin-right: 50px;
	width: 800px;
}
.box1 {
	margin-top: 45px;
	display: flex;
	justify-content: space-between;
}
.text1 {
	margin-left: 30px;
	font-weight: bold;
}
.day {
	display: flex;
	align-items: center;
}
.kun {
	margin-right: 10px;
	font-size: 45px;
	color: #CACACA;
}
.sew {
	font-weight: bold;
}
@media (max-width: 1350px) {
	.left1 {
		width: 100%;
	}
	.right {
		width: 100%;
	}
	.box {
		width: 700px;
		margin: auto;
	}
}
@media (max-width: 1100px) {
	.all {
		padding: 0;
	}
}
@media (max-width: 830px) {
	.box {
		width: 500px;
	}
	.left1 {
		width: 500px;
	}
	.ul {
		overflow: hidden;
	}
	.li {
		margin-left: 20px;
	}
}
@media (max-width: 650px) {
	.right {
		padding: 10px 30px;
	}
	.box {
		width: 400px;
	}
	.text1 {
		font-size: 8px;
	}
	.oy {
		font-size: 8px;
	}
	.kun {
		font-size: 20px;
		margin-right: 5px;
	}
	.img-box1 {
		width: 30px;
	}
	.right {
		min-width: 60px;
	}
}
@media (max-width: 400px) {
	.text1 {
		font-size: 10px;
	}
}
@media (max-width: 250px) {
	.text1 {
		font-size: 14px;
	}
}